@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --winter-cool-cold-blue: #007BFF;
  --winter-cool-icy-blue: #A0D8E1;
  --winter-cool-purple: #6F2C91;
  --winter-cool-deep-pink: #D5006D;
  --winter-cool-sky-blue: #00BFFF;
  --winter-cool-mint-green: #3EB489;
  --winter-cool-silver: #C0C0C0;
  --winter-cool-cool-gray: #A9A9A9;
  --winter-cool-deep-purple: #4B0082;
  --winter-cool-white: #FFFFFF;
}

body {
  margin: 0;
  padding: 0;
}